{% extends "account/layout.html" %}

{% load static %}

{% block title %}PASSWORD RESET{% endblock %}

{% block icon %}
    <link rel="shortcut icon" href="{% static 'account/login_32.png' %}" type="image/png">
{% endblock %}

{% block nav %}
{% endblock nav %}

{% block body %}
    <h3 class="w3-margin-left">PASSWORD RESET</h3>

    <h4 class="w3-margin-left w3-text-red">{{ message }}</h4>

    <div class="w3-padding">
        {% if user_id %}
            {% if sent != 0 %}
                <h2>Check e-mail please</h2>
            {% endif %}
        {% else %}
            <form action="{% url 'account:forgotten' %}" onkeydown="return event.key != 'Enter';" method="post">
                {% csrf_token %}
                <p class="w3-large">Адрес электронной почты, который был указан при регистрации, на него будет отправлено письмо для подтверждения сброса пароля :</p>
                <input
                    id="email"
                    class="w3-light-gray w3-input w3-section"
                    type="email"
                    name="email"
                    placeholder="e-mail"
                    required>
                <input
                    class="w3-button w3-white w3-border w3-border-red w3-round-xlarge w3-margin-left"
                    type="submit"
                    value="CONFIRM">
            </form>
        {% endif %}
    </div>
{% endblock %}